/* Set the default font family and font size */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  /* Set the maximum width of the page and center it */
  .book {
    max-width: 800px; /* Adjust the value to your desired width */
    margin: 0 auto; /* Center the page horizontally */
  }
  
  /* Set the font size and line height for headings */
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; /* Adjust the value to your desired font size */
    line-height: 1.2; /* Adjust the value to your desired line height */
  }
  
  h2{
    color: orange;
  }
  /* Set the font size and line height for paragraph text */
  p, li, td {
    font-size: 1rem; /* Adjust the value to your desired font size */
    line-height: 1.5; /* Adjust the value to your desired line height */
  }
  
  /* Set the background color of code blocks */
  pre {
    background-color: #f6f8fa; /* Adjust the value to your desired color */
  }
  
  /* Set the font size and line height of code blocks */
  code {
    font-size: 0.9rem; /* Adjust the value to your desired font size */
    line-height: 1.2; /* Adjust the value to your desired line height */
  }