body { 
   margin: 30px; 
   background: gray;
   text-align: justify;
}

.menu-links{
   text-decoration: none;
   color: #fff;
   display: block;
   width: fit-content;
   margin: 30px 0;
   font-size: 36px;

}